@charset "utf-8";
@import "normalize";

body {
  background: #fff;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}


.global-header {
  .site-heading{
    font-size: 300%;
    font-weight: bolder;
    color: black;
    letter-spacing: 4px;
    padding-top: 30px;
  }
  .site-description{
    font-size: 14px;
    color: #bbb;
    text-align: center;
    padding: 0px 380px 30px 380px;
    line-height: 1.65;
    a{
      color: skyblue;
    }
  }
}
